# PostgreSQL variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=finances

# Internal Database URL for finance-api to connect to the db container
DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# External Configuration (for testing outside docker or migrations if needed, replace localhost with your ip)
# DATABASE_URL_EXTERNAL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# API Keys
GEMINI_API_KEY=INSERT_YOUR_GEMINI_API_KEY_HERE

# Frontend / CORS
FRONTEND_URL=http://localhost:5173
